html, body {
  padding: 0;
  margin: 0;
  font: normal 10px Helvetica, sans-serif;
  background: url('../images/bg.jpg') repeat #F8F8F8;
  color: #FFF;
}
body { position: relative; }

h1, h2, h3, h4 {
    font-size: 4em;
    line-height: 1em;
    color: #FFF;
    font-weight: 500;
    margin: 0;
    text-shadow: 0 0 25px black;
}

h1 {
    font-weight: 30;
    line-height: 1em;
    padding-top: 5px;
    margin: 28px 0 0 0;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #F8F8F8;
}

.main {
    position: relative;
    margin-top: 120px;
    text-align: center;
}

/* form */
.sound {
    position: relative;
    left: 33.3%;
    width: 100px;
    height: 105px;
    background: #3d576e url('../images/mic.png') no-repeat 50% 55%;
    background-size: 80% 80%;
    display: block;
    transition:all 400ms ease;
    box-shadow:
        0px 5px #2b3d4d,
        0px 8px 35px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.sound:hover {
    background: #344a5e url('../images/mic.png') no-repeat 50% 55%;
    background-size: 80% 80%;
}

.sound img {
    margin-top: 10px;
    height: 100px;
}

.search-bnt {
    position: relative;
    color: transparent;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 15px;
    margin: 45px 36px;
    outline: none;
    -webkit-transform: scale(5.0, 5.0);
    -moz-transform: scale(5.0, 5.0);
    -ms-transform: scale(5.0, 5.0);
    transform: scale(5.0, 5.0);
    opacity: 0;
    z-index: 1;
}

.search-input {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000;
    width: 230px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: none;
}

.search-submit {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 1em 1.8em 1em;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 0 0 5px #27ae60;
    font-size: 2em;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(255,255,255,.1);
    background: -moz-linear-gradient(#2ecc71,#27ae60);
    border: 1px solid #2e8a25;
}

/* Stream */
.wrapper {
    position: relative;
    width: 10%;
    margin: 0;
}

.dot {
    height: 2em;
    width: 0.7em;
    position: absolute;
    display: inline-block;
    background: rgba(189,195,199,.5);
    margin: 0.3em .1em;
    border-radius: 6px;
    bottom: 0;
    top: -.5em;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    transition: all .9s ease-in;
}

/* Results */
#results p {
  float: left;
  width: 92%;
  height: 243px;
  padding: 10px 5px 5px 0px;
  margin: 0px 5px 20px 10px;
  background: rgba(0,0,0, .2);
  box-shadow: 0px 0px 4px #000;
  cursor: pointer;
  font-size: 14px;
  transition: all 600ms ease;
}
#results p:hover { box-shadow: 0px 0px 15px #000; }
#results p:last-child { margin-bottom: 20px; }

#results a {
  color: #fff;
  font-family: verdana, arial;
  letter-spacing: 0.04em;
  text-decoration: none;
}

#results img {
  width: 90%;
  padding-bottom: 6px;
}

#reSearch {
  padding: 10px 20px;
  background: rgba(0,0,0, .4);
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
  font-family: Helvetica, arial;
  text-shadow: 0px 0px 3px #000;
  transition: all 200ms ease;
}
#reSearch:hover { box-shadow: 0px 0px 10px black; }
